@import './../../node_modules/modern-normalize/modern-normalize.css';
// @import './abstracts/modern-normalize';
@import './abstracts/variables';
@import './abstracts/fonts';
@import './base/base';
@import './base/buttons';

@import './components/main.scss';
@import './layout/about_restaurant';
@import './layout/about_kitchen';
@import './layout/about-hotel';
@import './layout/3-adult';
