
  :root {
    --color-primary: #F3C653;
    --color-primary-dark: #C79002;
    --color-brown: #C79002;

    --color-dark: #494848;
    --color-beige1: #5F5F5F;
    --color-beige2: #7A7A7A;
    --color-beige3: #828282;
    --color-beige4: #B4B4B4;
    --color-beige5: #BABABA;
    --color-white: #fff;
    --color-black: #000;

    --sense-background: #F0ECD6;
    --light-background: #FFFDEE;
    --dark-background: #0E0C07;
    --button-border: 2px solid #FFFFFF;

    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    --mobile: 414px;
    --mobile-less: 413px;
    --tablet: 1024px;
    --tablet-less: 1023px;
    --desktop: 1280px;
    --desktop-less: 1279px;

    --vertical-lines-desktop: repeating-linear-gradient(90deg, rgba(186, 186, 186, 0.4) 1px, transparent 2px, transparent 302px);
    --vertical-lines-tablet: repeating-linear-gradient(90deg, rgba(186, 186, 186, 0.4) 1px, transparent 2px, transparent 234px);
    --vertical-lines-mobile: repeating-linear-gradient(90deg, rgba(186, 186, 186, 0.4) 1px, transparent 2px, transparent 134px);
  }