<section class="section three-adult">
  <div class="container three-adult__container">
    <div class="three-adult__content">
      <div class="three-adult__wrapper-text">
        <p class="three-adult__subtitle-text">Amet minim mollit non</p>
        <p class="three-adult__subtitle">Mimiho</p>
        <h2 class="three-adult__title">Трьохмісний номер</h2>
        <p class="three-adult__desc">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <div class="three-adult__picture">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/three-adult/modern-studio-apartment-desc.jpg    1x,
              ./images/three-adult/modern-studio-apartment-desc@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 1024px)"
            srcset="
              ./images/three-adult/modern-studio-apartment-tabl.jpg    1x,
              ./images/three-adult/modern-studio-apartment-tabl@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 1023px)"
            srcset="
              ./images/three-adult/modern-studio-apartment-mob.jpg    1x,
              ./images/three-adult/modern-studio-apartment-mob@2x.jpg 2x
            "
          />
          <img
            src="./images/three-adult/modern-studio-apartment-mob.jpg"
            alt="Апартаменти"
            loading="lazy"
          />
        </picture>
      </div>
    </div>
    <div class="three-adult__wrapper">
      <div class="three-adult__wrapper-swipper">
        <ul class="swiper-wrapper three-adult__swipper">
          <li class="swiper-slide">
            <picture>
              <source
                media="min-width: 1280px"
                srcset="
                  ./images/three-adult/bathroom-elements-desc.jpg    1x,
                  ./images/three-adult/bathroom-elements-desc@2x.jpg 2x
                "
              />
              <source
                media="max-width: 1279px"
                srcset="
                  ./images/three-adult/bathroom-elements.jpg    1x,
                  ./images/three-adult/bathroom-elements@2x.jpg 2x
                "
              />
              <img
                src="./images/three-adult/bathroom-elements.jpg"
                alt="Умивальник"
                loading="lazy"
              />
            </picture>
          </li>
          <li class="swiper-slide">
            <picture>
              <source
                media="min-width: 1280px"
                srcset="
                  ./images/three-adult/cup-tea-desc.jpg    1x,
                  ./images/three-adult/cup-tea-desc@2x.jpg 2x
                "
              />
              <source
                media="max-width: 1279px"
                srcset="
                  ./images/three-adult/cup-tea.jpg    1x,
                  ./images/three-adult/cup-tea@2x.jpg 2x
                "
              />
              <img
                src="./images/three-adult/cup-tea.jpg"
                alt="Чашка"
                loading="lazy"
              />
            </picture>
          </li>
        </ul>
      </div>
      <div class="three-adult__wrapper-button">
        <a
          class="three-adult__button button button--black link"
          href="./number.html"
          >Детальніше</a
        >
        <button class="three-adult__button button button--black" type="button">
          Переглянути ціни
        </button>
      </div>
    </div>
  </div>
</section>
