<section class="section three-adult">
  <div class="container three-adult__container">
    <!-- <picture>
      <source
        media="(min-width: 1024px)"
        srcset="
          ./images/3-adult/modern-studio-apartment-design-with-bedroom-living-space2.jpg    1x,
          ./images/3-adult/modern-studio-apartment-design-with-bedroom-living-space2@2x.jpg 2x
        "
      />
      <source
        media="(max-width: 1023px)"
        srcset="
          ./images/3-adult/modern-studio-apartment-design-with-bedroom-living-space2_mob.jpg    1x,
          ./images/3-adult/modern-studio-apartment-design-with-bedroom-living-space2_mob@2x.jpg 2x
        "
      />
      <img
        src="./images/3-adult/modern-studio-apartment-design-with-bedroom-living-space2.jpg"
        alt="Апартаменти"
        loading="lazy"
      />
    </picture> -->

    <p class="three-adult__subtitle-text">Amet minim mollit non</p>
    <p class="three-adult__subtitle">Mіміно</p>
    <h2 class="three-adult__title">Трьохмісний номер</h2>
    <p class="three-adult__desc">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <a class="button button--black link" href="">Детальніше</a>
    <button class="button button--black" type="button">Переглянути ціни</button>
    <!-- swipper -->
  </div>
</section>
