<section class="section">
  <div class="container">
    <h2 class="kitchen__title">About our kitchen</h2>
    <p class="kitchen__subtitle">Amet minim mollit non</p>
    <p class="kitchen__name">MIMIHO</p>
    <p class="kitchen__text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <picture>
      <!-- <source
        media="(min-width: 1280px)"
        srcset="
          ./images/about-kitchen/desktop/restaurant-interior-lg.jpg    1x,
          ./images/about-kitchen/desktop/restaurant-interior-lg@2x.jpg 2x
        "
      /> -->
      <!-- <img
        src="./images/about-kitchen/desktop/restaurant-interior.jpg"
        alt="кухар тримає гарачу пательню і щипці над вогнем"
        width="460"
        height="574"
        loading="lazy"
      /> -->
    </picture>
    <div class="kitchen__wrapper">
      <picture>
        <!-- <source
          media="(min-width: 1280px)"
          srcset="
            ./images/about-kitchen/desktop/pexels-oruri-jacome-lg.jpg    1x,
            ./images/about-kitchen/desktop/pexels-oruri-jacome-lg@2x.jpg 2x
          "
        /> -->
        <!-- <img
          src="./images/about-kitchen/desktop/pexels-oruri-jacome.jpg"
          alt="два шматки м'яса на дошці, поряд ніж, зелень та сіль"
          width="460"
          height="574"
          loading="lazy"
        /> -->
      </picture>
      <p>
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
    <div>
      <img
        src="./images/about-kitchen/desktop/pexels-helena-lopes-lg.jpg"
        alt="руки в борошні над тістом"
        width="245"
        height="245"
        loading="lazy"
      />
      <img
        src="./images/about-kitchen/desktop/pexels-mat-brown-lg.jpg"
        alt="готова страва, хінкалі на тарілці"
        width="245"
        height="245"
        loading="lazy"
      />
    </div>
    <div class="kitchen__btn-swiper">
      <!-- <button>
        <svg class="kitchen__icon" width="" height="">
          <use href=""></use>
        </svg>
      </button>
      <button>
        <svg class="kitchen__icon" width="" height="">
          <use href=""></use>
        </svg>
      </button> -->
    </div>
  </div>
</section>
