<section>
  <div class="container">
    <div class="wrapper__about-hotel">
      <div class="wrapper__bedroom">
        <h2 class="hotel__title visually-hidden">About our hotel</h2>
        <p class="hotel__subtitle">Amet minim mollit non</p>
        <p class="hotel__name">MIMIHO</p>
        <p class="hotel__text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <div class="wrapper__bedroom-img">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/about-our-hotel/apartment-with-bedroom-lg.webp    1x,
              ./images/about-our-hotel/apartment-with-bedroom-lg@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/about-our-hotel/apartment-with-bedroom-lg.jpg    1x,
              ./images/about-our-hotel/apartment-with-bedroom-lg@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 1024px)"
            srcset="
              ./images/about-our-hotel/apartment-with-bedroom-md.webp    1x,
              ./images/about-our-hotel/apartment-with-bedroom-md@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1024px)"
            srcset="
              ./images/about-our-hotel/apartment-with-bedroom-md.jpg    1x,
              ./images/about-our-hotel/apartment-with-bedroom-md@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 1023px)"
            srcset="
              ./images/about-our-hotel/apartment-with-bedroom-sm.webp    1x,
              ./images/about-our-hotel/apartment-with-bedroom-sm@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 1023px)"
            srcset="
              ./images/about-our-hotel/apartment-with-bedroom-sm.jpg    1x,
              ./images/about-our-hotel/apartment-with-bedroom-sm@2x.jpg 2x
            "
          />
          <img
            class="bedroom-img"
            src="./images/about-our-hotel/apartment-with-bedroom-sm.jpg"
            alt="Кімната студія з ліжком"
          />
        </picture>
      </div>
    </div>
    <!-- __________________________________________ -->
    <div class="wrapper__hall">
      <div class="wrapper__hall-text">
        <p class="hall__text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <div class="wrapper__hall-img">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/about-our-hotel/hotel-recepition-lg.webp    1x,
              ./images/about-our-hotel/hotel-recepition-lg@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/about-our-hotel/hotel-recepition-lg.jpg    1x,
              ./images/about-our-hotel/hotel-recepition-lg@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 1024px)"
            srcset="
              ./images/about-our-hotel/hotel-recepition-md.webp    1x,
              ./images/about-our-hotel/hotel-recepition-md@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1024px)"
            srcset="
              ./images/about-our-hotel/hotel-recepition-md.jpg    1x,
              ./images/about-our-hotel/hotel-recepition-md@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 1023px)"
            srcset="
              ./images/about-our-hotel/hotel-recepition-sm.webp    1x,
              ./images/about-our-hotel/hotel-recepition-sm@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 1023px)"
            srcset="
              ./images/about-our-hotel/hotel-recepition-sm.jpg    1x,
              ./images/about-our-hotel/hotel-recepition-sm@2x.jpg 2x
            "
          />
          <img
            class="hall-img"
            src="./images/about-our-hotel/hotel-recepition-sm.jpg"
            alt="Хол готелю"
          />
        </picture>
      </div>
    </div>
    <div class="swiper--margin-right">
      <div class="swiper swiper-wrapper--height">
        <ul class="swiper-wrapper">
          <li class="swiper-slide">
            <picture>
              <source
                srcset="
                  ./images/about-restaurant/desktop/swiper1.jpg   1x,
                  ./images/about-restaurant/desktop/swiper1@2.jpg 2x
                "
                media="(min-width:1280px)"
              />
              <source
                srcset="
                  ./images/about-restaurant/tablet/swiper1.jpg   1x,
                  ./images/about-restaurant/tablet/swiper1@2.jpg 2x
                "
                media="(min-width:1024px)"
              />
              <source
                srcset="
                  ./images/about-restaurant/swiper1.jpg   1x,
                  ./images/about-restaurant/swiper1@2.jpg 2x
                "
                media="(max-width:1023px)"
              />
              <img
                src="./images/about-restaurant/swiper1.jpg"
                alt="рука з келихом вина"
              />
            </picture>
          </li>
          <li class="swiper-slide">
            <picture>
              <source
                srcset="
                  ./images/about-restaurant/desktop/swiper2.jpg   1x,
                  ./images/about-restaurant/desktop/swiper2@2.jpg 2x
                "
                media="(min-width:1280px)"
              />
              <source
                srcset="
                  ./images/about-restaurant/tablet/swiper2.jpg   1x,
                  ./images/about-restaurant/tablet/swiper2@2.jpg 2x
                "
                media="(min-width:1024px)"
              />
              <source
                srcset="
                  ./images/about-restaurant/swiper2.jpg   1x,
                  ./images/about-restaurant/swiper2@2.jpg 2x
                "
                media="(max-width:1023px)"
              />
              <img
                src="./images/about-restaurant/swiper2.jpg"
                alt="стіл зі стравами"
              />
            </picture>
          </li>
          <li class="swiper-slide">
            <picture>
              <source
                srcset="
                  ./images/about-restaurant/desktop/swiper3.jpg   1x,
                  ./images/about-restaurant/desktop/swiper3@2.jpg 2x
                "
                media="(min-width:1280px)"
              />
              <source
                srcset="
                  ./images/about-restaurant/tablet/swiper3.jpg   1x,
                  ./images/about-restaurant/tablet/swiper3@2.jpg 2x
                "
                media="(min-width:1024px)"
              />
              <source
                srcset="
                  ./images/about-restaurant/swiper3.jpg   1x,
                  ./images/about-restaurant/swiper3@2.jpg 2x
                "
                media="(max-width:1023px)"
              />
              <img
                src="./images/about-restaurant/swiper3.jpg"
                alt="тарілки с келиками на столі"
              />
            </picture>
          </li>
          <li class="swiper-slide">
            <picture>
              <source
                srcset="
                  ./images/about-restaurant/desktop/swiper4.jpg   1x,
                  ./images/about-restaurant/desktop/swiper4@2.jpg 2x
                "
                media="(min-width:1280px)"
              />
              <source
                srcset="
                  ./images/about-restaurant/tablet/swiper4.jpg   1x,
                  ./images/about-restaurant/tablet/swiper4@2.jpg 2x
                "
                media="(min-width:1024px)"
              />
              <source
                srcset="
                  ./images/about-restaurant/swiper4.jpg   1x,
                  ./images/about-restaurant/swiper4@2.jpg 2x
                "
                media="(max-width:1023px)"
              />
              <img
                src="./images/about-restaurant/swiper4.jpg"
                alt="стіл зі стравами"
              />
            </picture>
          </li>
          <li class="swiper-slide">
            <picture>
              <source
                srcset="
                  ./images/about-restaurant/desktop/swiper5.jpg   1x,
                  ./images/about-restaurant/desktop/swiper5@2.jpg 2x
                "
                media="(min-width:1280px)"
              />
              <source
                srcset="
                  ./images/about-restaurant/tablet/swiper5.jpg   1x,
                  ./images/about-restaurant/tablet/swiper5@2.jpg 2x
                "
                media="(min-width:1024px)"
              />
              <source
                srcset="
                  ./images/about-restaurant/swiper5.jpg   1x,
                  ./images/about-restaurant/swiper5@2.jpg 2x
                "
                media="(max-width:1023px)"
              />
              <img
                src="./images/about-restaurant/swiper5.jpg"
                alt="тарілки с келиками на столі"
              />
            </picture>
          </li>
        </ul>
        <div>
          <svg
            class="swiper-button-prev hotel__btn--left"
            width="32"
            height="32"
            viewBox="0 0 32 32"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M31.0834 14.9998H5.00581L11.0055 9.00012L9.5913 7.58594L1.17737 15.9999L9.5913 24.4138L11.0055 22.9996L5.00568 16.9998H31.0834V14.9998Z"
              fill="black"
            />
          </svg>
        </div>
        <div>
          <svg
            class="swiper-button-next hotel__btn--right"
            width="32"
            height="32"
            viewBox="0 0 32 32"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M22.4921 7.58594L21.0779 9.00012L27.0777 14.9999H1V17H27.0775L21.0779 22.9996L22.4921 24.4138L30.9061 15.9999L22.4921 7.58594Z"
              fill="black"
            />
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
