<section>
  <div class="container">
    <h2 class="restaurant__title">Our Restaurant</h2>
    <p class="restaurant__subtitle">Amet minim mollit non</p>
    <p class="restaurant__name">MIMIHO</p>
    <p class="restaurant__text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <img
      src="./images/about-restaurant/restaurant-interior.jpg"
      alt="кімната зі столами"
    />
    <div class="restaurant-wrapper">
      <img
        src="./images/about-restaurant/oruri-jacome.jpg"
        alt="кімната зі сторами лампами та колоною"
      />
      <p>
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
    <div>
      <img
        src="./images/about-restaurant/swiper1.jpg"
        alt="рука з келихом вина"
      />
      <img src="./images/about-restaurant/swiper2.jpg" alt="стіл зі стравами" />
      <img
        src="./images/about-restaurant/swiper3.jpg"
        alt="тарілки с келиками на столі"
      />
      <img src="./images/about-restaurant/swiper4.jpg" alt="стіл зі стравами" />
      <img
        src="./images/about-restaurant/swiper5.jpg"
        alt="тарілки с келиками на столі"
      />
    </div>
  </div>
</section>
<section>
  <div class="container">
    <p class="restaurant__name">MIMIHO</p>
    <h2 class="restaurant-reserv__title">Ресторан</h2>
    <p class="restaurant-reserv__text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit.
    </p>
    <div>
      <img src="./images/about-restaurant/meat.jpg" alt="м'ясо" />
      <img src="./images/about-restaurant/meat.jpg" alt="м'ясо" />
      <img src="./images/about-restaurant/meat.jpg" alt="м'ясо" />
    </div>
  </div>
  <button type="button">Забронювати столик</button>
  <a href="#">Переглянути меню</a>
</section>
