<section class="section">
  <div class="container">
    <h2 class="kitchen__title">About our kitchen</h2>
    <p class="kitchen__subtitle">Amet minim mollit non</p>
    <p class="kitchen__name">MIMIHO</p>
    <p class="kitchen__text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <img src="" alt="" />
    <div class="kitchen__wrapper">
      <img src="" alt="" />
      <p>
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
    <div>
      <img src="" alt="" />
      <img src="" alt="" />
      <img src="" alt="" />
      <img src="" alt="" />
      <img src="" alt="" />
    </div>
    <div>
      <button>
        <svg class="kitchen__icon" width="" height="">
          <use href=""></use>
        </svg>
      </button>
      <button>
        <svg class="kitchen__icon" width="" height="">
          <use href=""></use>
        </svg>
      </button>
    </div>
  </div>
</section>
