<section class="section section--hotel-bg">
  <div class="container">
    <div class="wrapper-hotel-details">
      <p class="hotel__name hotel__name--color">MIMIHO</p>
      <h2 class="hotel-details__title">Готель</h2>
      <p class="hotel-details__text">
        Amet minim mollit non deserant ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
    </div>
    <div class="swipper--test">
      <div class="swiper swipper--details-hotel">
        <ul class="swiper-wrapper swiper-wrapper--padding">
          <li class="swiper-slide">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/details-of-hotel/bed-lg.webp    1x,
                  ./images/details-of-hotel/bed-lg@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/details-of-hotel/bed-lg.jpg    1x,
                  ./images/details-of-hotel/bed-lg@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 1024px)"
                srcset="
                  ./images/details-of-hotel/bed-md.webp    1x,
                  ./images/details-of-hotel/bed-md@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1024px)"
                srcset="
                  ./images/details-of-hotel/bed-md.jpg    1x,
                  ./images/details-of-hotel/bed-md@2x.jpg 2x
                "
              />
              <source
                media="(max-width: 1023px)"
                srcset="
                  ./images/details-of-hotel/bed-sm.webp    1x,
                  ./images/details-of-hotel/bed-sm@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 1023px)"
                srcset="
                  ./images/details-of-hotel/bed-sm.jpg    1x,
                  ./images/details-of-hotel/bed-sm@2x.jpg 2x
                "
              />
              <img
                class="swipper-img"
                src="./images/details-of-hotel/bed-sm.jpg"
                alt="Кімната студія з ліжком"
              />
            </picture>
          </li>
          <li class="swiper-slide">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/details-of-hotel/food-lg.webp    1x,
                  ./images/details-of-hotel/food-lg@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/details-of-hotel/food-lg.jpg    1x,
                  ./images/details-of-hotel/food-lg@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 1024px)"
                srcset="
                  ./images/details-of-hotel/food-md.webp    1x,
                  ./images/details-of-hotel/food-md@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1024px)"
                srcset="
                  ./images/details-of-hotel/food-md.jpg    1x,
                  ./images/details-of-hotel/food-md@2x.jpg 2x
                "
              />
              <source
                media="(max-width: 1023px)"
                srcset="
                  ./images/details-of-hotel/food-sm.webp    1x,
                  ./images/details-of-hotel/food-sm@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 1023px)"
                srcset="
                  ./images/details-of-hotel/food-sm.jpg    1x,
                  ./images/details-of-hotel/food-sm@2x.jpg 2x
                "
              />
              <img
                class="swipper-img"
                src="./images/details-of-hotel/food-sm.jpg"
                alt="Кімната студія з ліжком"
              />
            </picture>
          </li>
          <li class="swiper-slide">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/details-of-hotel/client-lg.webp    1x,
                  ./images/details-of-hotel/client-lg@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/details-of-hotel/client-lg.jpg    1x,
                  ./images/details-of-hotel/client-lg@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 1024px)"
                srcset="
                  ./images/details-of-hotel/client-md.webp    1x,
                  ./images/details-of-hotel/client-md@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1024px)"
                srcset="
                  ./images/details-of-hotel/client-md.jpg    1x,
                  ./images/details-of-hotel/client-md@2x.jpg 2x
                "
              />
              <source
                media="(max-width: 1023px)"
                srcset="
                  ./images/details-of-hotel/client-sm.webp    1x,
                  ./images/details-of-hotel/client-sm@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 1023px)"
                srcset="
                  ./images/details-of-hotel/client-sm.jpg    1x,
                  ./images/details-of-hotel/client-sm@2x.jpg 2x
                "
              />
              <img
                class="swipper-img"
                src="./images/details-of-hotel/client-sm.jpg"
                alt="Кімната студія з ліжком"
              />
            </picture>
          </li>
          <li class="swiper-slide">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/details-of-hotel/bed-lg.webp    1x,
                  ./images/details-of-hotel/bed-lg@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/details-of-hotel/bed-lg.jpg    1x,
                  ./images/details-of-hotel/bed-lg@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 1024px)"
                srcset="
                  ./images/details-of-hotel/bed-md.webp    1x,
                  ./images/details-of-hotel/bed-md@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1024px)"
                srcset="
                  ./images/details-of-hotel/bed-md.jpg    1x,
                  ./images/details-of-hotel/bed-md@2x.jpg 2x
                "
              />
              <source
                media="(max-width: 1023px)"
                srcset="
                  ./images/details-of-hotel/bed-sm.webp    1x,
                  ./images/details-of-hotel/bed-sm@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 1023px)"
                srcset="
                  ./images/details-of-hotel/bed-sm.jpg    1x,
                  ./images/details-of-hotel/bed-sm@2x.jpg 2x
                "
              />
              <img
                class="swipper-img"
                src="./images/details-of-hotel/bed-sm.jpg"
                alt="Кімната студія з ліжком"
              />
            </picture>
          </li>
          <li class="swiper-slide">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/details-of-hotel/food-lg.webp    1x,
                  ./images/details-of-hotel/food-lg@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/details-of-hotel/food-lg.jpg    1x,
                  ./images/details-of-hotel/food-lg@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 1024px)"
                srcset="
                  ./images/details-of-hotel/food-md.webp    1x,
                  ./images/details-of-hotel/food-md@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1024px)"
                srcset="
                  ./images/details-of-hotel/food-md.jpg    1x,
                  ./images/details-of-hotel/food-md@2x.jpg 2x
                "
              />
              <source
                media="(max-width: 1023px)"
                srcset="
                  ./images/details-of-hotel/food-sm.webp    1x,
                  ./images/details-of-hotel/food-sm@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 1023px)"
                srcset="
                  ./images/details-of-hotel/food-sm.jpg    1x,
                  ./images/details-of-hotel/food-sm@2x.jpg 2x
                "
              />
              <img
                class="swipper-img"
                src="./images/details-of-hotel/food-sm.jpg"
                alt="Кімната студія з ліжком"
              />
            </picture>
          </li>
          <li class="swiper-slide">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/details-of-hotel/client-lg.webp    1x,
                  ./images/details-of-hotel/client-lg@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/details-of-hotel/client-lg.jpg    1x,
                  ./images/details-of-hotel/client-lg@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 1024px)"
                srcset="
                  ./images/details-of-hotel/client-md.webp    1x,
                  ./images/details-of-hotel/client-md@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1024px)"
                srcset="
                  ./images/details-of-hotel/client-md.jpg    1x,
                  ./images/details-of-hotel/client-md@2x.jpg 2x
                "
              />
              <source
                media="(max-width: 1023px)"
                srcset="
                  ./images/details-of-hotel/client-sm.webp    1x,
                  ./images/details-of-hotel/client-sm@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 1023px)"
                srcset="
                  ./images/details-of-hotel/client-sm.jpg    1x,
                  ./images/details-of-hotel/client-sm@2x.jpg 2x
                "
              />
              <img
                class="swipper-img"
                src="./images/details-of-hotel/client-sm.jpg"
                alt="Кімната студія з ліжком"
              />
            </picture>
          </li>
        </ul>
      </div>
      <div class="hotel-details__btn">
        <button class="button button--transparent">Забронювати номер</button>
        <a class="button button--transparent button--decor" href="./index.html"
          >Переглянути ціни
        </a>
      </div>
    </div>
  </div>
</section>
