<section class="section section--bg-image">
  <div class="container">
    <p class="restaurant__name restaurant__name--color">MIMIHO</p>
    <h2 class="restaurant-reserv__title">Ресторан</h2>
    <p class="restaurant-reserv__text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit.
    </p>
    <div class="swipper--margin">
      <div class="swiper swipper--margin-left">
        <ul class="swiper-wrapper swiper-wrapper--padding">
          <li class="swiper-slide">
            <img src="./images/about-restaurant/meat.jpg" alt="м'ясо" />
          </li>
          <li class="swiper-slide">
            <img src="./images/about-restaurant/meat.jpg" alt="м'ясо" />
          </li>
          <li class="swiper-slide">
            <img src="./images/about-restaurant/meat.jpg" alt="м'ясо" />
          </li>
          <li class="swiper-slide">
            <img src="./images/about-restaurant/meat.jpg" alt="м'ясо" />
          </li>
          <li class="swiper-slide">
            <img src="./images/about-restaurant/meat.jpg" alt="м'ясо" />
          </li>
        </ul>
      </div>
      <div class="restaurant__btns">
        <button class="button button--transparent">Забронювати столик</button>
        <a class="button button--transparent button--decor" href="./index.html"
          >Переглянути меню</a
        >
      </div>
    </div>
  </div>
</section>
