<header class="header">
  <div class="container">
    <nav class="header__navigation">
      <a class="logo" href="./index.html">
        <img class="logo__icon" src="./images/logo.svg" alt="Logo" />
        <span class="logo__text">Finance</span>
        <span>Ledger</span>
      </a>
      <ul class="header__menu">
        <li class="header__item">
          <a class="header__link" href="./index.html">Home</a>
        </li>
        <li class="header__item">
          <a class="header__link" href="#">About </a>
        </li>
        <li class="header__item"><a class="header__link" href="#">Cases</a></li>
        <li class="header__item"><a class="header__link" href="#">Blog</a></li>
        <li class="header__item">
          <a class="header__link" href="#">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
