<section class="hero-homepage">
  <div class="container">
    <div class="hero-homepage__container">
      <h1 class="hero-homepage__title" lang="en">Mimino</h1>
      <h2 class="hero-homepage__title-secondary">
        Ресторанно-готельний комплекс
      </h2>
      <p class="hero-homepage__text">Смак життя 24/7</p>
      <div class="hero-homepage__link-button-wrapper">
        <a
          class="hero-homepage__link"
          href="https://goo.gl/maps/xowxYBsVFAnUarYt8"
          ><svg class="hero-homepage__icon-link" width="20" height="20">
            <use></use>
          </svg>
          Україна, м. Полтава, <br />
          вул. Маршала Бірюзова, 15</a
        >
        <div class="hero-homepage__buttons-wrapper">
          <button class="hero-homepage__button" type="button">
            Забронювати столик
          </button>
          <button class="hero-homepage__button" type="button">
            Забронювати номер
          </button>
        </div>
      </div>

      <!-- <ul class="socials socials--hero">
        <li class="socials__item">
          <a
            class="socials__link"
            href="https://www.instagram.com/mimino.poltava/"
            target="_blank"
            rel="noreferrer noopener"
            >instagram</a
          >
        </li>
        <li class="socials__item">
          <a
            class="socials__link"
            href="https://m.facebook.com/profile.php?id=114589595894911&__tn__=C-R"
            target="_blank"
            rel="noreferrer noopener"
            >facebook</a
          >
        </li>
        <li class="socials__item">
          <a
            class="socials__link"
            href=""
            target="_blank"
            rel="noreferrer noopener"
          ></a
          >telegram
        </li>
      </ul> -->
    </div>
  </div>
</section>
