<section class="hero">
  <div class="container">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis ipsum,
    at hic beatae provident nihil iusto aliquid aliquam ad, alias temporibus
    ipsa, minima ratione quis asperiores praesentium velit sequi deserunt cumque
    aut dignissimos optio totam repellat rem? Vero molestiae reiciendis
    molestias minus mollitia voluptate esse! Ut ipsum, dicta consequatur ratione
    quia debitis ducimus laborum error officia quae possimus voluptates
    deserunt, corrupti ab iste delectus, reprehenderit harum exercitationem
    dolorum! Quasi ipsa sunt facere iure enim necessitatibus cupiditate
    explicabo distinctio, ratione minima pariatur eaque illo! Autem praesentium,
    quaerat blanditiis enim labore quo hic sit deserunt commodi exercitationem
    minima culpa placeat provident minus.
    <h1">The Sky Is The Limit</h1>
    <p >We provide world class financial assistance</p>

    <button class="hero__button" type="button">
      <svg width="8" height="14">
        <use href="./images/icons.svg#banner-arrow"></use>
      </svg>
      Read More
    </button>
  </div>
</section>
