<section class="hero-number">
  <div class="hero-slider swiper">
    <div class="hero-slider__wrapper swiper-wrapper">
      <div class="hero-slider__slide swiper-slide">
        <div class="hero-slider__image">
          <img src="./images/hero-section/hero-number-desktop@2x.jpg" alt="" />
        </div>
      </div>
      <div class="hero-slider swiper-slide">
        <div class="hero-slider__image">
          <img src="./images/hero-section/hero-number-desktop@2x.jpg" alt="" />
        </div>
      </div>
      <div class="hero-slider swiper-slide">
        <div class="hero-slider__image">
          <img src="./images/hero-section/hero-number-desktop@2x.jpg" alt="" />
        </div>
      </div>
      <div class="hero-slider swiper-slide">
        <div class="hero-swiper__image">
          <img src="./images/hero-section/hero-number-desktop@2x.jpg" alt="" />
        </div>
      </div>
    </div>
    <div class="swiper-navigation">
      <div class="swiper-button-prev">
        <svg class="hero-humber__icon-link" width="37" height="21">
          <use href="./images/icons.svg#icon-swiper-button-prev"></use>
        </svg>
      </div>
      <div class="swiper-button-next">
        <svg class="hero-humber__icon-link" width="37" height="21">
          <use href="./images/icons.svg#icon-swiper-button-next"></use>
        </svg>
      </div>
    </div>
  </div>
  <div class="container hero-number__container">
    <div class="hero-number__wrapper">
      <div class="hero-number__text-wrapper">
        <h1 class="visually-hidden" lang="en">Mimino</h1>
        <h2 class="hero-number__title">
          Двомісний номер <span class="hero-number__title--small">люкс</span>
        </h2>
        <p class="hero-number__text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <button class="hero-number__button" type="button">
        Переглянути ціни
      </button>
    </div>
  </div>
</section>
