<section class="section">
    <div class="container">
        <ul class="number__list">
            <li class="number__item">
                <h2 class="number__title">Зручності у номері</h2>
                <div class="number__box">
                    <p class="number__description">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
                        sint. Velit officia consequat
                        duis enim velit
                        mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                </div>
            </li>
            <li class="number__item">
                <h3 class="number__item-title">Загальні</h2>
                    <div class="number__box">
                        <p class="number__item-description">Amet minim mollit non deserunt ullamco est sit aliqua dolor
                            do amet
                            sint. Velit officia consequat
                            duis enim velit
                            mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                        <p class="number__item-description">Amet minim mollit non deserunt ullamco est sit aliqua dolor
                            do amet sint. Velit officia consequat
                            duis enim velit
                            mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                    </div>
            </li>
            <li class="number__item">
                <h3 class="number__item-title">Ванна кімната</h2>
                    <div class="number__box">
                        <p class="number__item-description big">Amet minim mollit non deserunt ullamco est sit aliqua
                            dolor do amet
                            sint. Velit officia consequat
                            duis enim velit
                            mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                        <p class="number__item-description">Amet minim mollit non deserunt ullamco est sit aliqua dolor
                            do amet sint. Velit officia consequat
                            duis enim velit
                            mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                    </div>
            </li>
            <li class="number__item">
                <h3 class="number__item-title">Спальня</h2>
                    <div class="number__box">
                        <p class="number__item-description">Amet minim mollit non deserunt ullamco est sit aliqua dolor
                            do amet
                            sint.</p>
                    </div>
            </li>
            <li class="number__item">
                <h3 class="number__item-title">Кухня</h2>
                    <div class="number__box">
                        <p class="number__item-description">Amet minim mollit non deserunt ullamco est sit aliqua dolor
                            do amet
                            sint.</p>
                        <p class="number__item-description">Amet minim mollit non deserunt ullamco est sit aliqua dolor
                            do amet sint</p>
                    </div>
            </li>
            <li class="number__item">
                <h3 class="number__item-title">Медіа</h2>
                    <div class="number__box">
                        <p class="number__item-description">Amet minim mollit non deserunt ullamco est sit aliqua dolor
                            do amet
                            sint. Velit officia consequat
                            duis enim velit
                            mollit.</p>
                    </div>
            </li>
        </ul>
    </div>
    <div class="container">
        <div class="number__button">
            <button type="submit" class="reservation__button" data-modal-open>Оформити бронювання</button>
        </div>
    </div>