<section class="section">
    <div class="container ">
        <ul>
            <li>
                <h2>Зручності у номері</h2>
                <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat
                    duis enim velit
                    mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            </li>
            <li>
                <h2>Загальні</h2>
                <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat
                    duis enim velit
                    mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat
                    duis enim velit
                    mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            </li>
            <li>
                <h2>Ванна кімната</h2>
                <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat
                    duis enim velit
                    mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat
                    duis enim velit
                    mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            </li>
            <li>
                <h2>Спальня</h2>
                <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
            </li>
            <li>
                <h2>Кухня</h2>
                <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
                <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint</p>
            </li>
            <li>
                <h2>Медіа</h2>
                <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat
                    duis enim velit
                    mollit.</p>
            </li>
        </ul>
    </div>
    <div>
        <button type="submit" class="reservation__button" data-modal-open>Оформити бронювання</button>
    </div>
</section>