<!DOCTYPE html>
<html lang="en">
  <body>
    <main>
      <section class="section">
        <div class="container">
          <h1 class="two-adult-room__title">ДВОМІСНИЙ НОМЕР</h1>
          <p>MIMIHO</p>
          <p>Amet minim mollit non</p>

          <p>
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
          <div>
            <img
              src="../images/two-adult-room-with-bed.jpg"
              alt="double bed in a hotel room"
              class="two-adult-room__image-of-bed"
            />
            <img
              src="../images/bathroom-elements.jpg"
              alt="bathroom elements are near the sink"
              class="two-adult-room__image-of-bathroom-elements"
            />
            <img
              src="../images/cup-and-tea.jpg"
              alt="cup and tea on a windowsill"
              class="two-adult-room__image-of-cup"
            />
          </div>
          <div>
            <button>
              <svg class="two-adult-room__icon" width="" height="">
                <use href=""></use>
              </svg>
            </button>
            <button>
              <svg class="two-adult-room__icon" width="" height="">
                <use href=""></use>
              </svg>
            </button>
          </div>
          <ul class="buttons-list">
            <li>
              <button class="button" type="">
                Детальніше
                <svg class="" width="" height="">
                  <use href=""></use>
                </svg>
              </button>
            </li>
            <li>
              <button class="button" type="submit" data-modal-open>
                Переглянути ціни
                <svg class="" width="" height="">
                  <use href=""></use>
                </svg>
              </button>
            </li>
          </ul>
        </div>

        <!-- <picture>
                <source
                  srcset="
                    ./images/igor_demyanenko.webp 1x,
                    ./images/igor_demyanenko.webp 2x
                  "
                  media="(max-width: 767px)"
                  type="image/webp"
                />
                <source
                  srcset="
                    ./images/igor_demyanenko.webp 1x,
                    ./images/igor_demyanenko.webp 2x
                  "
                  media="(min-width: 768px)"
                  type="image/webp"
                />
                <source
                  srcset="
                    ./images/igor_demyanenko.webp 1x,
                    ./images/igor_demyanenko.webp 2x
                  "
                  media="(min-width: 1200px)"
                  type="image/webp"
                />
                <source
                  srcset="
                    ./images/igor_demyanenko.jpg 1x,
                    ./images/igor_demyanenko.jpg 2x
                  "
                  media="(max-width: 767px)"
                  type="image/jpeg"
                />
                <source
                  srcset="
                    ./images/igor_demyanenko.jpg 1x,
                    ./images/igor_demyanenko.jpg 2x
                  "
                  media="(min-width: 768px)"
                  type="image/jpeg"
                />
                <source
                  srcset="
                    ./images/igor_demyanenko.jpg 1x,
                    ./images/igor_demyanenko.jpg 2x
                  "
                  media="(min-width: 1200px)"
                  type="image/jpeg"
                />
                <img
                  src="./images/igor_demyanenko.jpg"
                  alt="ігор дем'яненко"
                  class="team__image"
                />
              </picture> -->
        <!-- <div class="team-card-wrapper">
                <h3 class="team-card-wrapper__title">Ігор Дем'яненко</h3>
                <p class="team-card-wrapper__text">Product Designer</p>
                <ul class="team-card-wrapper__social-networks">
                  <li class="team-card-wrapper__social-network">
                    <a href="" class="team-card-wrapper__network-link">
                      <svg
                        class="team-card-wrapper__network-icon"
                        width="20"
                        height="20"
                      >
                        <use href="./images/icons.svg#icon-instagram"></use>
                      </svg>
                    </a>
                  </li>
              </div> -->
      </section>
    </main>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="module" src="./js/index.js"></script>
  </body>
</html>
