<!DOCTYPE html>
<html lang="en">
  <body>
    <main>
      <section>
        <div class="container">
          <<<<<<< Updated upstream
          <h2 class="two-adult-room__title">ДВОМІСНИЙ НОМЕР</h2>
          >>>>>>> Stashed changes
          <p>MIMIHO</p>
          <p>Amet minim mollit non</p>

          <p>
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
          <div>
            <picture>
              <source
                srcset="
                  ../images/two-adult-room-with-bed.webp    1x,
                  ../images/two-adult-room-with-bed@2x.webp 2x
                "
                media="(max-width: 414px)"
                type="image/webp"
              />
              <source
                srcset="
                  ../images/two-adult-room-with-bed-ipad.webp    1x,
                  ../images/two-adult-room-with-bed-ipad@2x.webp 2x
                "
                media="(min-width: 1024px)"
                type="image/webp"
              />
              <source
                srcset="
                  ../images/two-adult-room-with-bed-desktop.webp    1x,
                  ../images/two-adult-room-with-bed-desktop@2x.webp 2x
                "
                media="(min-width: 1280px)"
                type="image/webp"
              />
              <!-- <source
                  srcset="
                    .jpg 1x,
                    .jpg 2x
                  "
                  media="(max-width: 414px)"
                  type="image/jpeg"
                />
                <source
                  srcset="
                    .jpg 1x,
                    .jpg 2x
                  "
                  media="(min-width: 1024px)"
                  type="image/jpeg"
                />
                <source
                  srcset="
                    .jpg 1x,
                    .jpg 2x
                  "
                  media="(min-width: 1280px)"
                  type="image/jpeg"
                /> -->

              <img <<<<<<< Updated upstream
              src="../images/two-adult-room-with-bed/two-adult-room-with-bed.jpg"
              ======= src="../images/two-adult-room/two-adult-room-with-bed.jpg"
              >>>>>>> Stashed changes alt="double bed in a hotel room"
              class="two-adult-room__image-of-bed" />
            </picture>
            <img
              src="../images/bathroom-elements.jpg"
              alt="bathroom elements are near the sink"
              class="two-adult-room__image-of-bathroom-elements"
            />
            <img
              src="../images/cup-and-tea.jpg"
              alt="cup and tea on a windowsill"
              class="two-adult-room__image-of-cup"
            />
          </div>
          <div>
            <button>
              <svg class="two-adult-room__icon" width="" height="">
                <use href=""></use>
              </svg>
            </button>
            <button>
              <svg class="two-adult-room__icon" width="" height="">
                <use href=""></use>
              </svg>
            </button>
          </div>
          <ul class="buttons-list">
            <li>
              <button class="button" type="">
                Детальніше
                <svg class="" width="" height="">
                  <use href=""></use>
                </svg>
              </button>
            </li>
            <li>
              <button class="button" type="submit" data-modal-open>
                Переглянути ціни
                <svg class="" width="" height="">
                  <use href=""></use>
                </svg>
              </button>
            </li>
          </ul>
        </div>
      </section>
    </main>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="module" src="./js/index.js"></script>
  </body>
</html>
