.hero {
    
    margin: 0 auto;
    padding-top: 181px;
    width: 100%;
    height: 740px;

    background-color:var(--dark-background);
    background-image: linear-gradient(rgba(0, 0, 0, 0.65),rgba(0, 0, 0, 0.65)), 
    url(../images/hero-homepage-section/pexels-pixabay-260922\ 2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media screen and (min-width: 780px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65),rgba(0, 0, 0, 0.65)), 
    url(../images/hero-homepage-section/pexels-pixabay-260922\ 1.png);
    }

    @media screen and (min-width: 1024px) {
       height: 720px;
       background-image: linear-gradient(rgba(0, 0, 0, 0.65),rgba(0, 0, 0, 0.65)), 
       url(../images/hero-homepage-section/pexels-pixabay-260922\ 1.png);
    }
   

    &__wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__title {
        margin-bottom: 45px;

        font-family: var(--font-logo);
        font-style: normal;
        font-weight: 700;
        // font-size: 96px;
        line-height: 1.07;
        letter-spacing: 0.3em;
        color: var(--color-white);

        @media screen and (min-width: 1024px) {
            margin-bottom: 42px;
            // font-size: 128px;
        }
    }

    &__title-secondary {
        margin-bottom: 52px;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.02em;
        color: var(--color-white);
        text-align: center;

        @media screen and (min-width: 1024px) {
            margin-bottom: 70px;
            font-size: 20px;
            line-height: 1.2;
        }
    }

    &__text {
        margin-bottom: 121px;
        font-family: var(--font-subhead);
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 1.15;
        letter-spacing: 0.05em;
        color: var(--color-white);
        text-align: center;

        @media screen and (min-width: 1024px) {
            margin-bottom: 70px;
            font-size: 36px;
            line-height: 1.14;
        }
    }

    &__link{
        position: absolute;
        
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        min-width: 210px;
        padding: 8px 6px;
        font-family: var(--font-main);
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.25;
        letter-spacing: 0.01em;
        color: #e5e5e5;
        text-decoration: none;

        border: 1px solid rgba(243, 198, 83, 0.7);
        border-radius: 2px;

        @media screen and (max-width: 1023px) {
            top: -93px;
            right: 0;
        }

        @media screen and (min-width: 1024px) {
            left: 0;
            bottom: -145px;
        }
    }

    &__icon-link {

    }

    &__buttons-wrapper {
        display: flex;
        flex-direction: column;
        gap: 24px;
        max-width: 200px;
    }
}



