.wrapper__about-hotel {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 1024px) {
        flex-direction: row-reverse;
        gap: 46px;
    }

    @media screen and (min-width: 1024px) {
        justify-content: flex-end;
        margin-left: 95px;
        gap: 67px;
    }
}

.wrapper__bedroom {
    align-self: flex-end;
    max-width: 67%;

    @media screen and (min-width: 1024px) {
        margin: auto 0 167px 0;
        width: 419px;
    }

    @media screen and (min-width: 1280px) {
        margin: auto 0 187px 0;
        width: 419px;
    }
}

.wrapper__hall {
    display: flex;
    gap: 21px;
    margin-bottom: 349px;

    @media screen and (min-width: 1024px) {
        justify-content: flex-end;
        max-height: 475px;
        margin-bottom: 262px;
        gap: 48px;
    }

    @media screen and (min-width: 1280px) {
        gap: 45px;
    }
}

.wrapper__hall-text {
    margin: auto 0;
    display: flex;
    max-width: 163px;

    @media screen and (min-width: 1024px) {
        max-width: 312px;
        gap: 48px;
    }
}

.hotel__subtitle {
    font-family: 'Times New Roman';
    font-size: 20px;
    line-height: 1.15;
    color: var(--color-beige4);
    margin-top: 18px;
    margin-bottom: 6px;
    text-align: right;

    @media screen and (min-width: 1024px) {
        font-family: 'Times New Roman';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 37px;
        margin-top: 0px;
    }
}

.hotel__name {
    font-family: 'Film P3';
    font-weight: 700;
    font-size: 40px;
    line-height: 43px;
    letter-spacing: 0.3em;
    margin-bottom: 16px;
    color: var(--color-dark);
    text-align: right;
    margin-right: -12px;

    @media screen and (min-width: 1024px) {
        margin-right: -20px;

        font-family: 'Film P3';
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        line-height: 69px;
        letter-spacing: 0.3em;
    }
}

.hotel__text {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: var(--color-beige1);
    max-width: 258px;
    margin-bottom: 28px;

    @media screen and (min-width: 1024px) {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.02em;
        margin-bottom: 0;
        margin-right: 0;
        max-width: 419px;
    }
}

.bedroom-img {
    margin-bottom: 32px;
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    border-radius: 2px;

    @media screen and (min-width: 1024px) {
        margin-bottom: 0;
        margin-top: -25px;
    }
}

.hall__text {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.02em;

    color: var(--color-brown);

    @media screen and (min-width: 1024px) {
        max-width: 312px;

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.02em;

    }
}

.hall-img {
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    border-radius: 2px;

    @media screen and (min-width: 1024px) {
        margin-bottom: 0;
        margin-top: -25px;
        margin-bottom: 262px;
    }
}