.contacts {
  background-color: var(--light-background);
  width: 100%;
  max-width: 414px;
  padding: 36px 0 32px;
  

  @media screen and (min-width: 1024px) {
    max-width: 1024px;
    padding: 69px 0 40px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 1280px;
    padding: 64px 0 74px;
  }
}

.contacts__container {
  display: block;
  width: 100%;

  @media screen and (min-width: 1024px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.contacts__subtitle {
  font-family: var(--font-logo);
  font-weight: 700;
  font-size: 40px;
  line-height: 1.07;
  letter-spacing: 0.3em;
  color: var(--color-dark);
  margin-bottom: 12px;
}

.contacts__desc {
  font-family: var(--font-main);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: var(--color-beige1);
  margin-bottom: 16px;
}

.contacts__list {
  max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 16px;
    align-items: center;
 

  @media screen and (min-width: 1024px) {
    display: block;
    justify-content: start;
  }
}

.contacts__item {
  display: flex;
}

.contacts__item:nth-child(2n) {
  // margin-left: 6px;
  padding: 0;

  background: var(--color-white);
  border: 0.5px solid;
  border-radius: 2px;
  border-color: var(--color-primary);

  border: 1px solid;
  border-radius: 2px;

  @media screen and (min-width: 1024px) {
    border-color: var(--color-border-social);
    margin-bottom: 24px;
  }
}

.contacts__item:nth-child(2n+1) {
  margin-bottom: 8px;
}

.contacts__item:nth-child(2) {
  margin-right: 100px;
  margin-left: 38px;

  @media screen and (min-width: 1024px) {
    margin-right: 100px;
    margin-left: 0;
  }
  
}

.contacts__item:nth-child(4) {
  width: 260px;
  margin-left: 61px;

  @media screen and (min-width: 1024px) {
    margin-left: 0;
  }

}




.contacts__link {
  display: flex;
  align-items: center;
  padding: 9px 8px 7px 0px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-primary-dark);

  @media screen and (min-width: 1024px) {
    font-size: 20px;
    line-height: 1.2;
  }
}

.contacts__container-link-map {
  display: flex;
  justify-content: end;

  @media screen and (min-width: 1024px) {
    justify-content: start;
  }

}

.contacts__link-map {
  display: flex;
  align-items: center;
  padding: 8px 33px 7px 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.01em;
  text-decoration: none;

  width: 260px;
   

  color: var(--color-dark);
  background: var(--color-white);
  border: 0.5px solid;
  border-radius: 2px;
  border-color: var(--color-primary);
  margin-bottom: 32px;
}

.contacts__icon {
  margin-right: 0;
  fill: var(--color-primary-dark);

  @media screen and (min-width: 1024px) {
    margin-right: 8px;
  }
}

.contacts__text {
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-dark);

  @media screen and (min-width: 1024px) {
    display: block;
  }
}

.contacts__map {
  width: 384px;
  height: 220px;

  @media screen and (min-width: 1024px) {
    width: 535px;
  height: 412px;
  }

  @media screen and (min-width: 1280px) {
    width: 634px;
  height: 412px;
  }

}
